/* Page color scheme */
:root {
    --dark: #006D77;
    --lightgreen: #83C5BE;
    --gray: #EDF6F9;
    --peach: #FFDDD2;
    --darkpeach: #E29578;
}

/* Setting page font-family */
body {
    background-color: var(--dark);
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

#view-highscores {
    text-align: left;
    color: var(--gray);
    border: none;
    background-color: var(--dark);
    font-size: 14px;
    font-weight: normal;
}

#time {
    text-align: center;
    color: var(--gray);
    display: inline-block;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

#center-box {
    text-align: center;
    width: 80%;
}

h1, h2 {
    background-color: var(--lightgreen);
    color: var(--dark);
    border-top: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-bottom: 1.5px solid var(--dark);
    border-radius: 15px 15px 0px 0px;
    
}

h1 {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 40px;
}

h2 {
    font-size: 20px;
    text-align: justify;
    padding: 6px;
}

form {
    background-color: var(--gray);
    border-radius: 0px 0px 15px 15px;
}

p, ul {
    background-color: var(--gray);
    color: var(--dark);
    font-weight: 550;
    padding: 10px; 
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px 8px;
}

label {
    display: block;
    color: var(--dark);
    text-align: left;
    padding-left: 16px;
}

button {
    background-color: var(--lightgreen);
    color: var(--dark);
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    border-top: 1.5px solid var(--dark);
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 2px;
    letter-spacing: 2px;
}

#correct, #wrong, #error-msg {
    padding-top: 8px;
    font-style: italic;
}

#correct {
    color: var(--lightgreen);
}

#wrong, #error-msg {
    color: var(--darkpeach);
}

#all-done, #highscores-title {
    text-align: center;
}

#your-score-is {
    font-size: 20px;
    
}

#initials {
    flex-basis: 50%;
    padding-left: 2px;
}

#initials-label {
    flex-basis: 35%;
    padding: 4px 6px 0px 0px;
    text-align: right;
    padding-bottom: 4px;
}

#submit-initials {
    padding: 6px 6px;
}

li {
    padding: 6px 6px;
    text-transform: uppercase;
}

#options-div {
    display: flex;
}

#return-start {
    border-radius: 0px 0px 0px 15px;
    border-right-color: var(--dark);
    border-right-width: 1.5px;
}

#clear-highscores {
    border-radius: 0px 0px 15px 0px;
    border-left-color: var(--dark);
}

#return-start-cleared {
    border-radius: 0px 0px 15px 15px;
    border: 1px solid var(--gray);
    border-top: 1px solid var(--dark);
    text-align: center;
}

#highscores-title-cleared {
    border: 1px solid var(--gray);
    border-bottom: 1px solid var(--dark);
    border-radius: 15px 15px 0px 0px;
}

#empty-highscores {
    padding: 50px 50px;
}

input:invalid {
    box-shadow: 0 0 5px 1px var(--darkpeach);
}

#initials, input:focus:invalid {
  box-shadow: none;
}

/* Adjust for tablet screens */
@media screen and (min-width: 768px) {
    #center-box {
        padding-top: 40px;
    }
    
    p {
        font-size: 18px;
    } 
    
    #view-highscores, #time {
        font-size: 16px;
    }

    button, li {
        padding: 8px 8px;
        font-size: 24px;
    }

    h2 {
        padding: 14px 14px;
        font-size: 24px;
    }

    form div {
        padding: 12px 12px;
        font-size: 18px;
    }

    #all-done, #highscores-title {
        font-size: 28px;
        text-align: center;
    }

    #initials-div {
        font-size: 18px;
        padding-bottom: 16px;
    }

    #your-score-is {
        padding-top: 16px;
    }

    #correct, #wrong, #error-msg {
        font-size: 18px;
    }

    #empty-highscores {
        padding: 75px 75px;
    }
}

/* Adjust for larger desktop screens */
@media screen and (min-width: 992px) {
    #center-box {
        width: 65%;
        padding-top: 60px;
    }
    
    p {
        font-size: 24px;
        padding-left: 36px;
        padding-right: 36px;
    } 
    
    #view-highscores, #time {
        font-size: 20px;
    }

    #time {
        padding: 10px 10px 0px 0px;
    }

    button, li {
        padding: 10px 10px;
        font-size: 28px;
    }
    
    h1 {
        font-size: 48px;
    }

    h2 {
        padding: 16px 16px;
        font-size: 28px;
    }

    form div {
        padding: 14px 14px;
        font-size: 20px;
    }

    #all-done, #highscores-title {
        font-size: 30px;
        text-align: center;
    }

    #initials-div {
        font-size: 20px;
        padding-bottom: 20px;
    }

    #your-score-is {
        padding-top: 20px;
    }

    #correct, #wrong, #error-msg {
        font-size: 20px;
    }
    
    #empty-highscores {
        padding: 100px 100px;
    }
}